@import "../../styles/colors.scss";

.header {
  display: flex;
  flex-direction: column;
  border-top: 30px solid $primaryDark;
  background-color: $primary;
  align-items: center;
  height: 180px;

  img {
    height: 60px;
    margin-top: 30px;
  }

  h1 {
    color: $white;
    margin: 16px 0px 40px;
  }
}